<div class="text-center flex flex-row flex-wrap items-center justify-center overflow-x-auto">
<div class="h-min w-auto p-2 bg-white rounded xl border-2 border-black m-4 flex flex-col rounded-3xl">
        <div class="flex border-box p-1 flex-col">
            <h1 class="text-5xl">  <%= task.title %> </h1>
            <p class="text-xl mb-4 mt-8">  <%= task.description %> </p>
            <p class="text-xl mb-4 mt-2 text-red-400"> Completed:  <%= task.completed %> </p>
            <p class="text-xl mb-4 text-blue-500"> Priority Task:  <%= task.priority_task %> </p>
            <%= link_to 'More Details', user_task_path(current_user, task), class: "rounded-xl text-center text-sm bg-blue-500 rounded py-2 text-white mt-2" %>
        </div>
    </div>
</div>


