<div class="text-center flex flex-wrap flex-col items-center justify-center overflow-x-auto md:flex-col mt-8">
<div class="h-min w-auto p-2 bg-white rounded xl border-2 border-black m-4 rounded-3xl">
        <div class="flex border-box p-1 flex-col">
            <h1 class="text-5xl">  <%= @task.title %> </h1>
            <p class="text-2xl mt-4"> Description:  <%= @task.description %> </p>
            <p class="text-l text-gray-400 mt-4"> Creation Date:  <%= @task.created_at.to_date %> </p>
            <p class="text-l text-gray-400"> Last Modified:  <%= @task.updated_at.to_date %> </p>
            <p class="text-gray-200 text-center mb-1">____________________________________________</p>
            <p class="text-xl mt-2"> Start Date:  <%= @task.start_date.to_date %> </p>

            <%if @task.due_date == Date.current%>
            <p class="text-xl mt-4 text-red-500"> Due Date:  <%= @task.due_date.to_date %> (Due Today) </p>
            <%else%>
            <p class="text-xl mt-4"> Due Date:  <%= @task.due_date.to_date %> </p>
            <%end%>

            <%= link_to 'Edit Task', edit_user_task_path(current_user, @task), class: "hover:bg-blue-600 rounded-xl text-center text-sm bg-blue-500 rounded py-2 text-white mt-2" %>
            <td><%= link_to 'Delete Task', @tasks, class: "rounded-xl text-center text-sm bg-red-400 rounded py-2 text-white mt-2 hover:bg-red-600", method: :delete, data: { confirm: "Are you sure you want to delete this task?" }%></td>
        </div>
    </div>
</div>

